$fontVietnam: "be Vietnam Pro";
$colorPrimary: #8b48bf;
$colorSecondary: #3cddf3;
$colorThird: #1e1e26;
$colorFontSecondary: #b3b2b7;

@function changeOpacity($color, $opacity) {
  $red: red($color);
  $green: green($color);
  $blue: blue($color);

  @return rgba($red, $green, $blue, $opacity);
}
@mixin btnStyle($color) {
  padding-inline: 2rem;
  padding-block: 0.5rem;
  border-radius: 1rem;
  color: white;
  font-size: 0.7rem;
  background-color: $color;
  cursor: pointer;
}

@mixin animation() {
  transition: all ease-in-out 0.5s;
}
