.footer{
    background-color: $colorThird;
    color: $colorFontSecondary;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-block: 2rem;
    &__contact{
        display: flex;
        justify-content: center;
        input{
            @include btnStyle(white);
            padding-left: 0.5rem;
            padding-right: 4rem;
            color: $colorFontSecondary;
            margin-right: 1rem;
        }
        button {
            @include btnStyle($colorPrimary);
            padding-inline: 1rem;
        }
    }
    &__boxList{
        display: flex;
        justify-content: center;
        color: white;
        ul{
            margin-inline: 2rem;
            font-size: 0.8rem;
            li{
                margin-bottom: 1rem;
            }
        }
    }
    &__social{
        display: flex;
        justify-content: space-evenly;
        color: white; 
    }
    &__logo{
        display: flex;
        justify-content: center;
    }
    &__copyright{
        text-align: center;
        font-size: 0.5rem;
    }
}