.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
  padding-block: 1rem;
  position: relative;
  transition: all ease-in-out 0.5s;
  z-index: 2;
}
.header__nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  left: -100%;
  top: 72.8px;
  opacity: 0.9;
  height: calc(100vh - 72.8px);
  width: 100vw;
  transition: all ease-in-out 0.5s;
}
.header__nav ul {
  font-size: 2rem;
}
.header__nav ul li {
  margin-bottom: 2rem;
}
.header__sandwich {
  font-size: 2rem;
}
.header__contact {
  padding-inline: 2rem;
  padding-block: 0.5rem;
  border-radius: 1rem;
  color: white;
  font-size: 0.7rem;
  background-color: #8b48bf;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
  display: none;
}
.header__contact:hover {
  background-color: rgba(139, 72, 191, 0.7);
}

.navSlide {
  position: fixed;
  width: 100%;
  background-color: white;
}

.slide {
  left: 0%;
}

.content {
  padding-inline: 2rem;
}
.content__box > * {
  margin-bottom: 1rem;
}
.content__box__title {
  font-size: 2rem;
  text-align: end;
  font-weight: bolder;
  color: #232c50;
}
.content__box__paraph {
  text-align: end;
}
.content__box__btn {
  display: flex;
  justify-content: end;
}
.content__box__btn a {
  padding-inline: 2rem;
  padding-block: 0.5rem;
  border-radius: 1rem;
  color: white;
  font-size: 0.7rem;
  background-color: #8b48bf;
  cursor: pointer;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.content__box__btn a:hover::before {
  position: absolute;
  background-image: conic-gradient(from 90deg at 50% 50%, #3cddf3 10%, transparent 30%);
  content: "";
  width: 150%;
  height: 150%;
  animation: rotate 2s linear infinite;
}
.content__box__btn a::after {
  content: "Contact";
  width: 95%;
  border-radius: 1rem;
  height: 90%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  border-radius: 1rem;
  color: white;
  font-size: 0.7rem;
  background-color: #8b48bf;
  cursor: pointer;
  font-size: 1.5rem;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.about__box {
  background-color: #3cddf3;
  color: white;
  padding: 2rem;
}
.about__box h2 {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 2rem;
}
.about__manage {
  padding: 2rem 0 2rem 2rem;
}
.about__manage__list {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.about__manage__list > * {
  margin-bottom: 1rem;
}
.about__manage__list h3 {
  display: flex;
  align-items: center;
  color: #323851;
  background-color: rgba(139, 72, 191, 0.3);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  font-weight: bolder;
}
.about__manage__list h3 span {
  padding-inline: 2rem;
  padding-block: 0.5rem;
  border-radius: 1rem;
  color: white;
  font-size: 0.7rem;
  background-color: #8b48bf;
  cursor: pointer;
  padding-inline: 1rem;
  margin-right: 1rem;
}
.about__manage__list p {
  padding-right: 1rem;
  color: #b3b2b7;
}

.attestation {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  overflow: hidden;
  max-height: 440px;
  position: relative;
  transition: all ease-in-out 0.5s;
}
.attestation__title {
  color: #242e53;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 2rem;
}
.attestation__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.attestation__box__profile {
  border-radius: 100%;
  margin-bottom: 2rem;
  position: relative;
}
.attestation__box__profile::before {
  position: absolute;
  content: "hola";
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 38, 0.5);
  z-index: 2;
}
.attestation__box__paraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 1rem;
  color: #b3b2b7;
}
.attestation__box__paraph h3 {
  color: #3f4868;
  font-weight: bold;
  margin-bottom: 1rem;
}
.attestation__box__paraph p {
  text-align: center;
  height: 120px;
}
.attestation__btn {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.attestation__btn button {
  transition: all ease-in-out 0.5s;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  border-radius: 1rem;
  color: white;
  font-size: 0.7rem;
  background-color: #8b48bf;
  cursor: pointer;
}
.attestation__btn button:hover {
  background-color: rgba(139, 72, 191, 0.7);
}

.message {
  transition: all ease-in-out 0.5s;
  background-color: #3cddf3;
  color: white;
  margin-top: 2.5rem;
  padding: 2rem;
}
.message__box {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}
.message__btn {
  display: flex;
  justify-content: center;
}
.message__btn button {
  transition: all ease-in-out 0.5s;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  border-radius: 1rem;
  color: white;
  font-size: 0.7rem;
  background-color: #1e1e26;
  cursor: pointer;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.5);
}
.message__btn button:hover {
  background-color: rgba(30, 30, 38, 0.7);
}

.footer {
  background-color: #1e1e26;
  color: #b3b2b7;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block: 2rem;
}
.footer__contact {
  display: flex;
  justify-content: center;
}
.footer__contact input {
  padding-inline: 2rem;
  padding-block: 0.5rem;
  border-radius: 1rem;
  color: white;
  font-size: 0.7rem;
  background-color: white;
  cursor: pointer;
  cursor: auto;
  padding-left: 0.5rem;
  width: 60%;
  color: #b3b2b7;
  margin-right: 1rem;
}
.footer__contact input:focus {
  outline: solid #8b48bf 2px;
}
.footer__contact button {
  transition: all ease-in-out 0.5s;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  border-radius: 1rem;
  color: white;
  font-size: 0.7rem;
  background-color: #8b48bf;
  cursor: pointer;
  padding-inline: 1rem;
}
.footer__contact button:hover {
  background-color: rgba(139, 72, 191, 0.7);
}
.footer__boxList {
  display: flex;
  justify-content: space-evenly;
  color: white;
}
.footer__boxList ul {
  font-size: 0.8rem;
}
.footer__boxList ul li {
  margin-bottom: 1rem;
}
.footer__social {
  display: flex;
  justify-content: space-evenly;
  color: white;
}
.footer__social__item {
  transition: all ease-in-out 0.5s;
}
.footer__social__item:hover {
  transform: scale(1.1, 1.1);
}
.footer__logo {
  display: flex;
  justify-content: center;
}
.footer__copyright {
  text-align: center;
  font-size: 0.5rem;
}

/* ---------------media 480px */
@media screen and (min-width: 480px) {
  .content__title {
    font-size: 3rem;
  }
  .content__paraph {
    font-size: 1.2rem;
  }
  .content__btn > a {
    font-size: 1rem;
    padding-block: 1rem;
    padding-inline: 2.5rem;
    border-radius: 1.5rem;
  }
  .about__box h2 {
    font-size: 2.5rem;
  }
  .about__box__message {
    line-height: 1.5rem;
  }
  .about__manage__list {
    font-size: 1rem;
  }
  .about__manage__list > * {
    margin-bottom: 2rem;
  }
  .about__manage__list p {
    line-height: 2rem;
  }
  .attestation__box__paraph {
    line-height: 1.7rem;
  }
  .message__box {
    padding-inline: 1rem;
    font-size: 3rem;
    font-weight: bolder;
  }
  .message__box span {
    display: block;
  }
  .message__btn button {
    font-size: 1rem;
  }
  .footer__contact input {
    padding-block: 0.7rem;
    border-radius: 1.5rem;
  }
  .footer__contact button {
    border-radius: 1.5rem;
  }
  .footer__social {
    font-size: 1.5rem;
  }
  .footer__copyright {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 700px) {
  .attestation {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
  }
  .attestation__title {
    flex-basis: 100%;
  }
  .attestation__box {
    flex-basis: 45%;
  }
  .attestation__box__paraph p {
    height: auto;
  }
}
/* -----------------------------------------------------------tableta */
@media screen and (min-width: 800px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10vw;
    padding-block: 2rem;
  }
  .header__nav {
    position: static;
    height: auto;
    width: auto;
  }
  .header__nav ul {
    display: flex;
    font-size: 1rem;
  }
  .header__nav ul li {
    margin-bottom: 0;
    margin-right: 1rem;
  }
  .header__sandwich {
    display: none;
  }
  .header__contact {
    display: block;
  }
  .content {
    display: flex;
    padding-inline: 10vw;
  }
  .content > * {
    flex-basis: 50%;
  }
  .content__box {
    padding: 1rem 0 1rem 2rem;
  }
  .about__box {
    background-color: #8b48bf;
    display: flex;
    padding-inline: 2rem;
    justify-content: space-evenly;
  }
  .about__box > * {
    width: 40%;
  }
  .message {
    display: flex;
    background-color: #8b48bf;
    justify-content: space-between;
  }
  .message__box {
    width: 60%;
  }
  .message__box span {
    display: inline-block;
  }
  .message__btn {
    align-items: center;
  }
  .message__btn button {
    padding-inline: 2rem;
    padding-block: 0.5rem;
    border-radius: 1rem;
    color: white;
    font-size: 0.7rem;
    background-color: white;
    cursor: pointer;
    color: black;
  }
}
@media screen and (min-width: 1030px) {
  .attestation {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-height: 100%;
    gap: 2rem;
  }
  .attestation__title {
    flex-basis: 100%;
  }
  .attestation__box {
    flex-basis: 30%;
    margin-bottom: 3rem;
  }
  .attestation__btn {
    position: static;
  }
}
/* ----------------------------------------------------desktop */
@media screen and (min-width: 1200px) {
  .content__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .content__box__title {
    font-size: 3.4rem;
    text-indent: 1rem;
  }
  .about__manage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding-inline: 10vw;
  }
  .about__manage__list h3 {
    background-color: white;
    font-size: 1.5rem;
  }
  .about__manage__list h3 span {
    font-size: 1.5rem;
  }
  .about__manage__list p {
    padding-left: 4rem;
  }
  .about__manage__list:nth-child(3) {
    grid-column: 2 span;
    width: 50%;
    justify-self: center;
  }
  .message {
    padding-inline: 6rem;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, min-content);
    padding-inline: 4rem;
    gap: 0;
  }
  .footer__logo {
    order: -1;
  }
  .footer__boxList {
    grid-row: 2 span;
    justify-content: space-around;
    order: 1;
  }
  .footer__boxList ul {
    font-size: 1.5rem;
  }
  .footer__contact {
    grid-row: 2 span;
    order: 2;
    align-self: flex-start;
  }
  .footer__social {
    order: 3;
    align-self: center;
  }
  .footer__social__item:hover {
    transform: scale(1.2, 1.2);
  }
  .footer__copyright {
    grid-column: 3 span;
    order: 6;
    justify-self: end;
  }
}
@media screen and (min-width: 1400px) {
  .header__nav ul {
    font-size: 2rem;
  }
  .header__contact {
    font-size: 1.5rem;
  }
  .content__box__paraph {
    font-size: 1.5rem;
  }
  .content__box__btn a {
    font-size: 1.5rem;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "be Vietnam Pro";
}/*# sourceMappingURL=styles.css.map */